<a href="https://colab.research.google.com/github/Madhavi-Bijwe/Python_projects/blob/main/python_basic_ipynp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Loop

1/1!+2/2!+3/3!+..

In [7]:
n=int(input("Enter the value for n:" ))
result=0
fact=1

for i in range(1,n+1):
  fact=fact*i
  result=result+i/fact

print(result)

Enter the value for n:4
2.6666666666666665

In [23]:
# *
# **
# ***
# ****
# *****
row=int(input("Enter rows: "))

for i in range(1,row+1):
  for j in range(1,i+1):
    print("*",end='')
  print()

Enter rows: 5
*
**
***
****
*****

In [18]:
# 1          1
# 121        12
# 12321      123
# 1234321    1234
row=int(input("Enter rows: "))

for i in range(1,row+1):
  for j in range(1,i+1):
    print(j,end='')

  for k in range(i-1,0,-1):
    print(k,end='')
  print()

Enter rows: 5
1
121
12321
1234321
123454321

In [21]:
# prime no
lower=int(input("Enter Lower no:"))
upper=int(input("Enter upper no:"))

for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i)

Enter Lower no:10
Enter upper no:100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# New Section
Strings are sequence of unicode character.
Asci- 8 bit(256) but unicode- 16 bit